<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Specify the global packages folder location -->
    <add key="globalPackagesFolder" value=".\packages" />
  </config>
  <packageSources>
    <!-- Define your package sources here -->
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Additional package sources, if needed -->
  </packageSources>
</configuration>